#root {
	position: absolute;
	z-index: -1;
	inset: 0;
	background-color: skyblue;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 100%;
}

.control {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 40px;
	top: 40px;
}

button {
	font-size: 24px;
	padding: 3px 16px;
}

.pole {
	width: 40px;
	height: 70px;
	background-color: gray;
}

.light {
	width: 250px;
	height: 700px;
	border-radius: 30px;
	background-color: rgb(255, 196, 0);
	border: 7px outset rgb(46, 46, 46);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	padding-top: 30px;
}

.bulb {
	width: 200px;
	height: 200px;
	border-radius: 180px;
	background-color: rgba(8, 8, 8, 0.685);
}

.red {
	background: rgb(255, 0, 0);
	background: radial-gradient(circle, rgba(255, 0, 0, 1) 29%, rgba(115, 0, 0, 1) 100%);
}

.green {
	background: rgb(35, 255, 0);
	background: radial-gradient(circle, rgba(35, 255, 0, 1) 42%, rgba(8, 158, 0, 1) 100%);
}

.yellow {
	background: rgb(255, 252, 0);
	background: radial-gradient(circle, rgba(255, 252, 0, 1) 42%, rgba(255, 196, 0, 1) 100%);
}
